html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
}

.progress-bar {
    height: .5rem;
    width: 0%;
    background-color: greenyellow;
    position: fixed;
    top: 0;
    left: 0;
}
    
#requestID {
    width: 400px;
    margin-right: auto;
    margin-left: auto;
}

#minutesID {
    width: 195px;
}

#secondsID {
    width: 195px;
}


.timer-card {
    margin-right: auto;
    margin-left: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 400px;
    max-height: 100px;
}

.description {
    /* width: 200px; */
}
.timer-place {
display: flex;
}

.timer-frame {
    display: inline-block;
    width: 300px;
    height: 500px;
    border: 2px solid black;
    margin-top: 15px;
    text-align: center;
    font-size: 40px;
}

.timer-name {
    border: none;
    text-align: center;
    max-width: 100%;
    font-size: 40px;
    outline: none;
}

.timer-name:disabled {
    background-color: transparent;
}